.boxWidth {
  width: 500px;
  align-items: center !important;
}

.divAlign {
  position: absolute;
  left: 40%;
  top: 10%;
}

.width100 {
  width: 100% !important;
}

.padB10 {
  padding-top: 10px;
  width: 90%;
}
